.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
    color:#AC0788;
}

.nav-link:hover {
    color: #FFD166;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #AC0788;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #AC0788;
}

h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #AC0788;
}

.bg-custom {
    background-color: #CDA9D4;
}

.btn-custom {
    font-family: 'roboto', sans-serif;
    background: #CDA9D4;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.btn-custom:hover{
    background: #FFD166;
    color: #333333;
}

.custom-carousel img {
    height: 700px;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card {
    border: none;
}

iframe {
    border: none;
}